.topic-title {
    margin-right: 10px;
}

.author-name {
    display: block;
    margin-top: 7px;
    margin-right: 10px;
}

.author-avatar {
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.topic-card {
    margin-bottom: 3px;
}

.right {
    float: right;
}

.left {
    float: left;
}

.overview-rating {
    margin-top: 10px;
}

.topic-overview-details {
    margin-left: 50px;
    margin-bottom: -40px;
}

.tag-chips {
    display: inline;
}