@font-face {
    font-family: 'Battlefin';
    font-weight: normal;
    font-style: normal;
    src: url('Battlefin-Black.otf');
}

@font-face {
    font-family: 'International';
    font-weight: normal;
    font-style: normal;
    src: url('International.ttf');
}