.bottom-right-corner {
    position: fixed;
    bottom:1px;
    right:1px;
}

.new-topic-button {
    color: #1E1A22 ;
}

.text-field {
    border: solid black 1px;
}

.input-field-badge {
    margin-top: 2px;
    width: 100%;
}