.reply-container {
    padding-top: 10px;
    border: 2px solid #FFAFC1;
    color: #FFAFC1;
}

.return-button {
    float: right;
}

.button-center {
    margin: 0 auto;
}

.representative-actions {
    float: right;
}

.thread-timestamp {
    float: right;
    color: #1E1A22;
    opacity: 0.35;
    padding-right: 10px;
    padding-top: 5px;
}
