.topic-author-avatar {
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.reply-author-avatar {
    float: right;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.topic-author-name {
    display: block;
    text-align: right;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.reply-author-name {
    display: block;
    padding-top: 2px;
    padding-left: 5px;
    padding-right: 5px;
}

.topic-author-link {
    border-top: dashed 1px #1E1A22;
    border-left: dashed 1px #1E1A22;
    border-radius: 5px 0 0 0;
}

.reply-author-link {
    border-bottom: dashed 1px #1E1A22;
    border-left: dashed 1px #1E1A22;
    border-radius: 0 0 0 5px;
}

.bottom-bar {
    margin-bottom: -22px;
    margin-left: -10px;
}

.removed {
    opacity: 0.6;
}

.purple-typography > p > img {
    height: auto;
    max-width: 80%;
    margin-top: 5px;
}