.topic-author-avatar {
    float: right;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.topic-author-name {
    display: block;
    margin-top: 20px;
    margin-right: 15px;
}

.removed {
    opacity: 0.6;
}