.avatar {
    float: left;
    height: 84px;
    width: 84px;
    margin: 12px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.float-right {
    float: right;
}

.stats-bar {
    float: bottom;
}

.top-bar {
    margin-left: 25px;
    margin-top: 10px;
    margin-bottom: 4px;
}

.profile-desc {
    margin-left: 25px;
    margin-right: 12px;
}

.profile-card {
    position: relative;
}

.profile-title {
    padding-top: 5px;
}
