.avatar {
    float: left;
    height: 84px;
    width: 84px;
    margin: 12px;
    border-radius: 50%;
    border: 1px solid black;
    background-color: #1E1A22;
}

.top-right-corner {
    float: right;
}

.stats-bar {
    float: bottom;
}

.bottom-bar {
    margin-left: 20px;
    margin-top: 20px;
}

.profile-desc {
    margin-left: 20px;
}

.profile-card {
    position: relative;
}

.profile-title {
    padding-top: 5px;
}
