.avatar-changer {
    margin: 0 auto;
    border: none;
    width: 100%;
}

.avatar-changer div {
    border: none;
    width: 100%;
}

.avatar-changer > input {
    text-align: center;
    margin: 0 auto;
    float: right;
    border: none;
    width: 100%;
}