body {
  background-color: #1E1A22;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.yellow-color {
  color: darkorange;
}

.blue-color {
  color: darkblue;
}

.green-icon {
  color: darkolivegreen;
}

.red-icon {
  color: red;
}

.red-color {
  color: rgb(140, 0, 0);
}

.purple-typography {
  color: #1E1A22;
}

.pink-typography {
  color: #FFAFC1;
}

.pink-color {
  color: #FFAFC1;
}

.purple-color {
  color: rgb(25, 21, 28);
}

.topic-timestamp {
  color: #1E1A22;
  opacity: 0.35;
  margin-left: 40px;
  font-size: 11px;
}
